/* line 1, /Users/Ros/Projects/rosskinner.github.io/source/stylesheets/svg.scss */
.route {
  margin-top: -200px;
  z-index: -1;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg); }

/* line 11, /Users/Ros/Projects/rosskinner.github.io/source/stylesheets/svg.scss */
.route2 {
  margin-top: -184px;
  z-index: -1;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  -webkit-transform: scale(1, -1) rotate(-1deg);
  -moz-transform: scale(1, -1) rotate(-1deg); }

/* line 21, /Users/Ros/Projects/rosskinner.github.io/source/stylesheets/svg.scss */
.route3 {
  margin-top: 0px;
  z-index: -1;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg); }
